extends base.pug

block content
    div.profile__question
        div.profile__question 
            p=bbs.title
            div.profile__question__text
                p=bbs.text
            small=bbs.createdAt
        div.profile__question__bottom    
            div
                small Uploaded by 
                    a(href=`/users/${bbs.owner._id}`)=bbs.owner.username
            div
                if String(bbs.owner._id) === String(loggedInUser._id)
                    a(href=`${bbs.id}/edit`) Edit Text &rarr;
                    br
                    a(href=`${bbs.id}/delete`) Delete Text &rarr;