extends ../base
include ../mixins/bbs


block content
    li
        a(href="/users/edit") Edit Profile
    div
        div.profile__data
            img(src="/" + user.avatarUrl).avatar
            h3=user.name
        div.profile__question
            h2="올해의 목표는?"
            div     
                h1=user.yeargoal
        div.profile__question
            h2="이번달의 목표는?"
            div     
                h1=user.monthgoal
        div     
            each potato in user.bbses
                +bbs(potato)
            else    
                span.empty__message No Text found
